body {
    background: rgb(101, 8, 8);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    
    /* float:right; */
    position:relative;
    top: -100;
    padding: 10px;
    border-radius: 20px;
    
}

.content {
  display: flex;
    flex: 1;
    padding: 15px;
  flex-direction: column;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}

main {
    background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

.nav1 {
  color: rgb(252, 249, 249);
  font-size: 40px;
  background: rgb(239, 80, 41);
  padding: 0 330px;
  display: flex;
  align-items: center;
}

#nav2 {
    /* margin-top: 20px; */
    font-size: 20px;
    padding: 0 10px;
    color: black;
}

.nav {
  display: flex-end
}

a {
    text-decoration: none;
    color: #fff;
}

#intro {
  display: flex;
  align-self: center;
}

#img {
  align-self: center;
  max-width: 50%;
  max-height: 90%;
}

.content {
  display: flex;
    flex: 1;
    padding: 15px;
  flex-direction: column;
}

#projectSection {
  align-self: center;
  margin-top: 20px;
  display:flex;
  flex-direction: row;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: black;
}

@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  .content {
    align-content: center;
    justify-content: center;
  }

  #portfolio {
    padding-left: 50px;
  }
}